.bg-pj{
  background-image: url("./assets/cards/bg.jpg");
  background-size: cover;
  min-height: 100vh;
}

.bg-pp{
  background-image: url("./assets/cards/pp-bg.jpg");
  background-size: cover;
  min-height: 100vh;
}

.board{
  padding: 1rem;
  display:grid;
  grid-gap:10px;
  margin: auto;
  grid-template-columns: repeat(6, 1fr);
}

.card-outer{
  perspective:1000px;
  height: calc(100vh / 6);
  max-height: calc(100vw / 6);
}
.card{
  border-radius: 5px;
  position: relative;
  width: 100%;
  height: 100%;
  transform:rotateY(180deg);
  transform-style: preserve-3d;
  transition: all 0.3s;
}
.card .front, .card .back{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .front img{
  display: block;
  height: calc(100vh / 6);
  max-height: calc(100vw / 6);
}
.card .back{
  background-color: #171B52;
  transform:rotateY(180deg);
}
.card-outer.flipped .card{
  transform:rotateY(0);
}

@media (max-width: 768px) {
  .board {
    padding: 1rem;
    display:grid;
    grid-gap:10px;
    margin: auto;
    grid-template-columns: repeat(5, 1fr);
  } 
  .card-outer{
    height: calc(100vh / 5);
    max-height: calc(100vw / 5);
  }

  .card .front img{
    display: block;
    height: calc(100vh / 5);
    max-height: calc(100vw / 5);
    max-width: calc(100vw / 5);
  }
}

.stats{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-align: center;
  color: #171B52;
  padding: 20px 0;
  font-size: 1.3rem;
}

.btn {
  background-color: #2e57a4;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 6px 16px;
  margin: 5px;
}


.btn:hover {
  background-color: rgb(184, 47, 47);
}

.title{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-align: center;
  color: #171B52;
  padding: 20px 0;
  font-size: 1.3rem;
}